streamlit>=1.20.0
langchain>=0.2.17
faiss-cpu>=1.7.3
rank_bm25>=0.2.1
llama-index>=0.6.6
huggingface_hub>=0.15.1
numpy>=1.24.3
langchain_community
langchain_classic
langchain-ollama
sentence_transformers
transformers>=4.30.2
torch>=2.0.1
bitsandbytes>=0.39.1
shap>=0.41.0
matplotlib>=3.7.2
evaluate>=0.4.0
pandas>=2.0.3
bert-score>=0.3.13
rouge-score>=0.1.4
sacrebleu>=2.2.1

